<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div id="navbar">
    <ul>
        <li><a href="/">Pagrindinis</a></li>
        <li><a href="/words">Žodžiai</a></li>
        <li><a href="#">Profilis</a></li>
        <li><a href="#">Pagalba</a></li>
        <li><a href="#">Apie</a></li>
    </ul>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
