{% extends "manozodynas/base.html" %}

{% block title %}Žodžiai{% endblock %}

{% block content %}
<button onclick="location.href='word'">Naujas žodis</button>
<ul id="word-list">
{% for word in object_list %}
    <li>{{ word.word }} {% if word.category != "" %} <i>{{ word.category }}</i> {% endif %}
    {% if word.translation_set.all|length == 0 %}
        <a href="word/{{word.id}}/translate" class="list-button">Išversti</a>
    {% elif word.translation_set.all|length == 1 %}
        <a href="word/{{word.id}}/view" class="list-button">Vertimas</a>
    {% else %}
        <a href="word/{{word.id}}/view" class="list-button">Vertimai({{word.translation_set.all|length}})</a>
    {% endif %}
    <a href="word/{{word.id}}/delete" class="list-button">Ištrinti</a>
    </li>
{% empty %}
    <li>Žodžių sąrašas tuščias</li>
{% endfor %}
</ul>
{% if is_paginated %}
        <div class="pagination">
            <div class="page-current">
                    Puslapis {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}.
            </div>
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/words?page={{ page_obj.previous_page_number }}">ankstesnis</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="/words?page={{ page_obj.next_page_number }}">kitas</a>
                {% endif %}
            </span>
        </div>
{% endif %}
{% endblock %}